<?xml version="1.0" encoding="UTF-8"?>
<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="(max-width: 1023px)">
            <!-- language selector -->
            <ul class="drawer-menu">
                <li>
                    <a href="${app}/start.html" data-template="pages:parse-params">Start</a>
                </li>

                <li>
                    <a href="${app}/places/all/" class="tp-menu-item" title="Places" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="menu.places">Orte</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>

                <li>
                    <a href="${app}/people/all/" class="tp-menu-item" title="People" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="menu.people">Personen</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>
                <li>
                    <a href="${app}/organization/all/" class="tp-menu-item" title="People" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="menu.organizations">Organisationen</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>
                <li>
                    <a href="${app}/abbr.html" class="tp-menu-item" title="Abbreviations" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="abbreviations">Abkürzungen</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>
                <li>
                    <a href="${app}/keyword/all/" class="tp-menu-item" title="Keywords" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="menu.keywords">Schlagwörter</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>
                <li>
                    <a href="${app}/literaturverzeichnis.html" class="tp-menu-item" title="Bibliography" data-template="pages:parse-params">
                        <div>
                            <pb-i18n key="bibliography">Literaturverzeichnis</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>                
                <li>
                    <a href="mailto:staatsarchivzh@ji.zh.ch" class="tp-menu-item">
                        <div>
                            <pb-i18n key="feedback">Feedback</pb-i18n>
                        </div>
                        <div class="ripple-container"/>
                    </a>
                </li>
                <li>
                    <pb-lang name="lang" data-template="pages:languages"/>
                </li>
            </ul>
        </pb-media-query>
    </div>
</app-drawer>