<?xml version="1.0" encoding="UTF-8"?>

<footer class="footer__imprint">
        <div class="footer-col">
            <h5>Kontakt</h5>
            <a href="http://www.staatsarchiv.zh.ch">Staatsarchiv des Kantons Zürich</a>
        </div>
        <div class="footer-col">
            <h5>Realisierung</h5>
            <a href="http://www.staatsarchiv.zh.ch">Staatsarchiv des Kantons Zürich</a>

        </div>
        <div class="footer-col">
            <h5>
                Lizenz
            </h5>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
        </div>
        <div class="footer-col">
            <h5>
                <a href="${app}/about.html" data-template="pages:parse-params">
                    <pb-i18n key="about">Über QZH</pb-i18n>
                </a>
            </h5>
            
            <h5>
                <a id="feedback-mail" href="mailto:staatsarchivzh@ji.zh.ch" class="tp-menu-item">
                    <div>
                        <pb-i18n key="feedback">Feedback</pb-i18n>
                    </div>
                    <div class="ripple-container"/>
                </a>
            </h5>
        </div>
        <div class="footer-col">
            <h5>
                <pb-login id="login" group="tei">
                    <iron-icon slot="icon" icon="account-circle"/>
                    <p slot="information">
                        <pb-i18n key="login-info"/>
                    </p>
                </pb-login>
            </h5>
        </div>

    </footer>

