<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title>Quellen zur Zürcher Geschichte - Literaturverzeichnis</title>
    <meta name="description" content="Literaturverzeichnis template"/>
    <meta name="pb-template" content="literaturverzeichnis.html"/>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/theme-qzh.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <script src="resources/scripts/app/app.js"/>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved" require-language="require-language" api-version="1.0.0">
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>

            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                </app-header>

                <section>
                    <div class="pb-container">
                        <h1 class="tp-title">
                            <pb-i18n key="bibliography"/>
                        </h1>
                    </div>
                </section>

                <section>
                    <div class="pb-container">
    <table>
        <thead>
            <tr>
                <th>Kurztitel</th>
                <th>Bibliografische Angaben</th>
                <!-- <th>Nachweis BSG</th> --><!-- commented out Nachweis BSG, can be added again later-->
            </tr>
        </thead>
        <caption><th>Gedruckte Quellen</th></caption>
        <tbody>
            <tr>
                <td>QZWG</td>
                <td>Schnyder, Werner: Quellen zur Zürcher Wirtschaftsgeschichte – von den Anfängen bis 1500, Zürich 1934–1937.</td>
            </tr>
            <tr>
                <td>UBZH</td>
                <td>Schweizer, Paul; Escher-Bodmer, Jakob: Urkundenbuch der Stadt und Landschaft Zürich, Zürich 1888–1957.</td>
            </tr>
            <tr>
                <td>Zürcher Stadtbücher</td>
                <td>Nabholz, Hans; Zeller-Werdmüller, Heinrich: Die Zürcher Stadtbücher des XIV. und XV. Jahrhunderts, Leipzig 1899–1906.</td>
            </tr>
            
            </tbody>
      <caption><th>Literatur</th></caption>
        <tbody>
            <tr>
                <td>Algazi 1996</td>
                <td>Algazi, Gadi: Herrengewalt und Gewalt der Herren im späten Mittelalter, Frankfurt; New York 1996.</td>
            </tr>
            <tr>
                <td>Baer 1994</td>
                <td>Baer, Hans: Geschichte der Gemeinde Embrach, Bd. 1: Von den Anfängen
                    bis zur Französischen Revolution, Embrach 1994.</td>
            </tr>
            <tr>
                <td>Böning 1998</td>
                <td>Böning, Holger: Der Traum von Freiheit und Gleichheit: helvetische Revolution und Republik 1798-1803 - die Schweiz auf dem Weg zur bürgerlichen Demokratie, Zürich 1998.</td>
            </tr>
            <tr id="chbsg000050757">
                <td>Brühlmeier 2008</td>
                <td>Brühlmeier, Markus: Grüningen: Geschichte und Geschichten, Wetzikon 2008.</td>
            </tr>
            <tr>
                <td>Christ-von Wedel 2021</td>
                <td>Christ-von Wedel, Christine: Die Zürcher Hexenprozesse und die Reformatoren, in: Zwingliana 48, 2021, S. 71-114.</td>
            </tr>
            <tr>
                <td>Dändliker 2024</td>
                <td>Dändliker, Lorenz: Reingeschriebene Stimmen und der Eindruck von Mündlichkeit. Masterseminararbeit Universität Zürich, Lehrstuhl Teuscher, Zürich 2022.</td>
            </tr>
            
            <tr>
                <td>Dändliker 1908-1912</td>
                <td>	Dändliker, Karl: Geschichte der Stadt und des Kantons Zürich, Zürich 1908–1912.</td>
            </tr>
            <tr>
                <td>Dilcher 2021</td>
                <td>Dilcher, Gerhard: Konfliktlösung zwischen Oralität und Schriftlichkeit – Mentalität, Verfahren und normative Grundlagen, in: Mayenburg, David von (Hg.): Konfliktlösung im Mittelalter, München 2021, S. 41-58.</td>
            </tr>
            <tr>
                <td>Gasser 2024</td>
                <td>Gasser, Kristina: Bei Kempten in den Bach. Die Raumwahrnehmung der ländlichen Bevölkerung in Grüninger Grenzbeschrieben, 1794-1804, Zürich 2003.</td>
            </tr>
            <tr>
                <td>Graber 2003</td>
                <td>Graber, Rolf: Zeit des Teilens: Volksbewegungen und Volksunruhen auf der Zürcher Landschaft. Masterseminararbeit Universität Zürich, Lehrstuhl Teuscher, Zürich 2022.</td>
            </tr>
            <tr>
                <td>Guex 1986</td>
                <td>Guex, François: Bruchstein, Kalk und Subventionen – das Zürcher Baumeisterbuch als Quelle zum Bauwesen des 16. Jahrhunderts, Zürich 1986.</td>
            </tr>
            <tr>
                <td>Epstein-Mil 2024</td>
                <td>Epstein-Mil, Ron: Die Familie Ben Menachem an der Brunngasse 8, in: Rotach, Brigitta;  Wild, Dölf; Epstein-Mil, Ron; 
                    Landau, Ehud Μ. (Hg.): Frau Minne und die Zürcher Juden: die mittelalterlichen Wandmalereien an der Brunngasse und ihr Umfeld, Zürich 2024, S. 47-66.</td>
            </tr>
            <tr>
                <td>Eugster 1995b</td>
                <td>Eugster, Erwin: Die Entwicklung zum kommunalen Territorialstaat, in: Geschichte des Kantons Zürich, Zürich 1995, 299–335.</td>
            </tr>
            <tr>
                <td>HS II/2</td>
                <td>Helvetia Sacra, Abteilung II/2: Die weltlichen Kollegiatstifte der deutsch- und französischsprachigen Schweiz, Bern 1977.</td>
            </tr>
            <tr>
                <td>HLS</td>
                <td>Historisches Lexikon der Schweiz, Basel 2002–2014.</td>
            </tr>
            <tr>
                <td>Hugener/Sieber, Quellenstudie</td>
                <td>Hugener, Rainer; Sieber, Christian: Hexereiprozesse im vormodernen Zürich. Kommentierte Quellenstudie, hg. v. Staatsarchiv des Kantons Zürich, Zürich 2023.</td>
            </tr>
            <tr>
                <td>IWQZH</td>
                <td>Sablonier, Roger; Wanner, Konrad; Zangger, Alfred: Inventar spätmittelalterlicher Wirtschafts- und Verwaltungsquellen im Staatsarchiv des Kantons Zürich, Zürich 1990.</td>
            </tr>
            <tr>
                <td>KdS ZH NA VII</td>
                <td>Crottet, Regula; Kerstan, Anika; Zwyssig, Philipp: Die Kunstdenkmäler des Kantons Zürich, Bd. VII: Der Bezirk Dielsdorf, Bern 2023.</td>
            </tr>
            <tr>
                <td>Largiadèr 1922</td>
                <td>Largiadèr, Anton: Die Anfänge des zürcherischen Stadtstaates, in: Festgabe Paul Schweizer – überreicht zum 70. Geburtstage am 9. September 1922, Zürich 1922, 1–92.</td>
            </tr>
            <tr id="chbsg000050069">
                <td>Loetz 2022</td>
                <td>Loetz, Francisca; unter Mitarbeit von Wolfram Schneider-Lastin: Gelebte Reformation. Zürich 1500-1800, Zürich 2022.</td>
            </tr>
            <tr id="chbsg991001261448103977">
                <td>Loetz 2002</td>
                <td>Loetz, Francisca: Mit Gott handeln: von den Zürcher Gotteslästerern der Frühen Neuzeit zu einer Kulturgeschichte des Religiösen, Göttingen 2002.</td>
            </tr>
            <tr>
                <td>Marchal 1996</td>
                <td>Marchal, Guy P. (Hg.): Grenzen und Raumvorstellungen. Frontières et conceptions de l’espace, Zürich 1996.</td>
            </tr>
            <tr>
                <td>Moraw 2002</td>
                <td>Moraw, Peter: Raumerfassung und Raumbewusstsein im späteren Mittelalter, Stuttgart 2002.</td>
            </tr>
            <tr>
                <td>Mörgeli 1995</td>
                <td>Mörgeli, Christoph: Memorial und Stäfner Handel 1794/1795, Stäfa 1995.</td>
            </tr>
            <tr>
                <td>Rüegg 2023</td>
                <td>Rüegg, Patrick: Die Gefangenenbesuche der Zürcher Geistlichen und ihre Berichterstattung
                    an das Ratsgericht: eine Untersuchung der <q>Kundschaften und Nachgänge</q>
                    des 18. Jahrhunderts des Stadtstaates Zürich, Masterarbeit Universität Zürich, Zürich 2023.</td>
            </tr>
            <tr id="chbsg000139152">
                <td>Ruoff 1941</td>
                <td>Ruoff, Wilhelm Heinrich: Die Zürcher Räte als Strafgericht und ihr Verfahren bei Freveln im 15. und 16. Jahrhundert, Zürich 1941.</td>
            </tr>
            <tr>
                <td>Rutz 2018</td>
                <td>Rutz, Andreas: Die Beschreibung des Raums. Territoriale Grenzziehungen im Heiligen Römischen Reich, Köln; Weimar; Wien 2018.</td>
            </tr>
            <tr>
                <td>Schneider 1989</td>
                <td>Schneider, Bernhard: Ellikon an der Thur: vom Streitobjekt 
                    zwischen Zürich und Frauenfeld zur eigenständigen Gemeinde, Zürich 1989.</td>
            </tr>
            <tr>
                <td>Schuler 1985</td>
                <td>Schuler Alder, Heidi: Reichsprivilegien und Reichsdienste der eidgenössischen
                    Orte und König Sigmund, 1410-1437, Bern 1985.</td>
            </tr>
            <tr>
                <td>Schweizer 1902</td>
                <td>Schweizer, Paul: Der Hexenprozess und seine Anwendung in Zürich, in: Zürcher Taschenbuch 1902, neue Folge, 25. Jahrgang, S. 1-63.</td>
            </tr>
            <tr id="chbsg9910011892446039772">
                <td>Sigg, Hexenmorde</td>
                <td>Sigg, Otto: Hexenmorde Zürichs und auf Zürcher Gebiet: Nachträge und Ergänzungen zur Dokumentation 2012: auch ein Beitrag zum Jubiläum 500 Jahre Zürcher Reformation, Hettlingen 2019.</td>
            </tr>
            <tr id="chbsg000126322">
                <td>Sigg, Hexenprozesse</td>
                <td>Sigg, Otto: Hexenprozesse mit Todesurteil: Justizmorde der Zunftstadt Zürich: vom bösen Geist in Stadt und Land Zürich und im aargauischen Kelleramt: Dokumentation zu den 79 mit Todesurteil endenden sogenannten Hexenprozessen im Hoheitsgebiet der Stadt Zürich 1487-1701 / auf Grund von Quellen des Staatsarchivs Zürich bearb. durch Otto Sigg, Frick 2012.</td>
            </tr>
            <tr>
                <td>Stauber 1894</td>
                <td>Stauber, Emil: Geschichte der Gemeinde Ellikon an der Thur, Küsnacht 1894.</td>
            </tr>
            <tr id="chbsg991001205648603977">
                <td>Suter 2017</td>
                <td>Suter, Meinrad: Eine Haarschnur als Corpus Delicti im Zusammenhang mit einer vermuteten Kindstötung zu Richterswil 1778, in:
                    Zürcher Taschenbuch 2018, neue Folge, 138. Jahrgang, S. 71-87.</td>
            </tr>
            <tr>
                <td>Suter 1995</td>
                <td>Suter, Meinrad: Die Eidgenossen und der Stäfner Handel, in: Mörgeli, Christoph: Memorial und Stäfner Handel 1794/1795, Stäfa 1995, S. 191-205.</td>
            </tr>
            <tr>
                <td>Teuscher 2007</td>
                <td>Teuscher, Simon: Erzähltes Recht. Lokale Herrschaft, Verschriftlichung und Traditionsbildung im Spätmittelalter, Frankfurt; New York 2007.</td>
            </tr>
            <tr>
                <td>Teuscher 2001</td>
                <td>Teuscher, Simon: Kompilation und Mündlichkeit – Herrschaftskultur und Gebrauch von Weistümern im Raum Zürich (14.–15. Jahrhundert), in: Historische Zeitschrift 273, 2001, S. 289–333.</td>
            </tr>
            <tr>
                <td>Weibel 1996</td>
                <td>Weibel, Thomas: Der zürcherische Stadtstaat, in: Geschichte des Kantons Zürich, Zürich 1996, S. 16–65.</td>
            </tr>
            <tr id="chbsg000077350">
                <td>Weibel 1987</td>
                <td>Weibel, Thomas: Erbrecht, Gerichtswesen und Leibeigenschaft in der Landvogtei Grüningen, Zürich 1987.</td>
            </tr>
            <tr>
                <td>Vavra 2005</td>
                <td>Vavra, Elisabeth: Virtuelle Räume. Raumwahrnehmung und Raumvorstellung im Mittelalter, Berlin 2005.</td>
            </tr>
            <tr>
                <td>Zellweger 2022</td>
                <td>Zellweger, Nicole: Wächter der Seele und Hüter des Gesetzes. Zürcher Pfarrer als Seelsorger, in: Loetz, Francisca; unter Mitarbeit von Wolfram Schneider-Lastin: 
                    Gelebte Reformation. Zürich 1500-1800, Zürich 2022, S. 410-429.</td>
            </tr>
            </tbody>
    </table>
</div>
                    <!-- <div class="pb-container">
                        <main class="bibl-list" id="bibliography">
                            <div data-template="app:bibliography"/>
                        </main> 
                    </div> -->
                </section>
                <footer data-template="templates:include" data-template-path="templates/footer.html"/>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
    <script data-template="templates:include" data-template-path="templates/matomo.html"/>
</body>

</html>