<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title>Quellen zur Zürcher Geschichte - Literaturverzeichnis</title>
    <meta name="description" content="Literaturverzeichnis template"/>
    <meta name="pb-template" content="literaturverzeichnis.html"/>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/theme-qzh.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <script src="resources/scripts/app/app.js"/>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved" require-language="require-language" api-version="1.0.0">
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>

            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                </app-header>

                <section>
                    <div class="pb-container">
                        <h1 class="tp-title">
                            <pb-i18n key="bibliography"/>
                        </h1>
                    </div>
                </section>

                <section>
                    <div class="pb-container">
    <table>
        <thead>
            <tr>
                <th>Kurztitel</th>
                <th>Bibliografische Angaben</th>
                <th>Nachweis BSG</th>
            </tr>
        </thead>
        <tbody>
            <tr id="chbsg991001261448103977">
                <td>Loetz 2022</td>
                <td>Loetz, Francisca; unter Mitarbeit von Wolfram Schneider-Lastin: Gelebte Reformation. Zürich 1500-1800, Zürich 2022.</td>
            </tr>
            </tbody>
    </table>
</div>
                    <!-- <div class="pb-container">
                        <main class="bibl-list" id="bibliography">
                            <div data-template="app:bibliography"/>
                        </main> 
                    </div> -->
                </section>
                <footer data-template="templates:include" data-template-path="templates/footer.html"/>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
    <script data-template="templates:include" data-template-path="templates/matomo.html"/>
</body>

</html>